body{
    margin-bottom:0px;
    padding-bottom:0px;
}

.is-vertical-center{
    display: flex;
    align-items: center;
}

.level{
    padding: 2%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
}

.table{
    width: 100%;
}

.tableBox{
    position: relative;
    z-index: 0;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    background: linear-gradient(#49c6f4, #c51bd4);
}

.rowBox{
    padding: 4%;
    margin: 5%;
    border: thin solid black;
}

.rowHeader{
    padding-left: 4%;
    padding-right: 4%;
    margin: 5%;
    border: thin solid black;
}

.contactName{
    font-size: large;
}

.contactMatch{
    font-size: xx-large;
}

.contactLink{
    text-align: center;
}

.input{
    margin-bottom: 5px;
}

.is-purple{
    background-color: #c51bd4;
}

.button.is-purple{
    background-color: #c51bd4;
    color: white;
}

.input.is-purple{
    border-color: #c51bd4;
}

.button a{
    color: white;
}

.button.is-purple:hover{
    background-color: #b40ac3;
}

.question .box{
    margin: 5%;
}

.radio{
    margin-left: 1%;
    margin-right: 1%;
}

.slider{
    -webkit-appearance: none;
    width: 90%;
    height: 15px;
    border-radius: 5px;
    background: #eeeeee;
    outline: none;
    opacity: 1.0;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-left: 5%;
    margin-right: 5%;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #c51bd4;
    cursor: pointer;
  }

#logo{
    height: 45%;
    width: 45%;
}

#searchBar{
    width: 300px;
}

#searchButton{
    margin-left: 5px;
    margin-bottom: 5px;
}

.resultDiv{
}

.resultsDiv{
    position: absolute;
    z-index: 1;
    margin-left: 3%;
    width: 300px;
}

/*.control .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .control input:checked ~ .checkmark {
    background-color: #00FFFF;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }

  .container input:checked ~ .checkmark:after {
    display: block;
  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }*/ 